@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&display=swap");

:root {
  --main-color: #393a51;
  --background: #dcdcdc;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: var(--background);
}

.header-main {
  background-color: var(--main-color);
  padding: 30px;
  font-family: "Montserrat", sans-serif;
  position: relative; /* Add this line */
  z-index: 2; /* Add this line */
}

.header-main h1 {
  color: white;
  display: inline-block;
  font-size: 300%;
  font-weight: bold;
  text-transform: uppercase;
}

.header-main nav {
  display: flex;
  padding-top: 15px;
  float: right;
  margin-right: 10px;
  font-size: 18px;
}

.header-main nav ul li {
  display: inline-block;
}

.header-main nav ul {
  list-style-type: none;
}

.header-main nav a {
  position: relative;
  z-index: 1;
  font-size: 1.1em;
  text-decoration: none;
  color: white;
  padding: 5px 20px;
  transition: 0.5s;
}

.header-main nav a:hover {
  color: #87d5f2;
}

.header-main nav a span {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  border-bottom: 2px solid white;
  border-radius: 15px;
  opacity: 0;
  transform: scale(0) translateY(50px);
  transition: 0.5s;
}

.header-main nav a:hover span {
  transform: scale(1) translateY(0);
  opacity: 1;
}

.hero {
  position: relative; /* Keep this position property */
  height: 200px;
  width: 100%;
  background-image: url("https://images4.alphacoders.com/130/1301526.png");
  background-size: cover;
  background-position: center;
}

.quote {
  position: absolute;
  font-size: 180%;
  background-color: white;
  color: var(--main-color);
  text-transform: uppercase;
  font-family: monospace;
  padding: 15px;
  margin-top: 110px;
  font-weight: bold;
  left: 70%; /* Adjust this value based on your design */
  top: 5%; /* Adjust this value based on your design */
}

.hero img {
  max-width: 100%;
  max-height: 100%;
}

main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

h2 {
  color: var(--main-color);
  text-transform: capitalize;
  font-size: 350%;
}

.line-break1 {
  width: 5px;
  height: 230px;
  background-color: var(--main-color);
  margin-left: 15px;
}

p {
  font-size: 15px;
  line-height: 20px;
  font-family: "Open Sans", sans-serif;
}

.parag {
  margin: 20px;
}

.about-section {
  margin-top: 20px;
  display: flex;
  margin-left: 100px;
  margin-right: 30px;
}

.works-section {
  display: flex;
  margin-left: 107px;
  margin-top: 50px;
  margin-right: 30px;
}

.line-break2 {
  width: 4px;
  height: 950px;
  background-color: var(--main-color);
  margin-left: 31px;
}

.work,
.about-me,
.contact-me,
.contact-links {
  display: flex;
}

.images {
  display: flex;
  flex-direction: column;
  margin-left: 60px;
}

.main-img {
  margin-left: 50px;
  width: 1050px;
  max-width: 100%;
  height: 500px;
  max-height: 100%;
  overflow: hidden;
  border: 5px solid var(--main-color);
}

.main-img img {
  width: 100%; /* Ensure the image takes up 100% of its container */
  height: auto; /* Maintain the aspect ratio of the image */
}

.sub-img {
  max-width: 100%; /* Allow the image to shrink if needed */
  max-height: 100%; /* Allow the image to shrink if needed */
  overflow: hidden; /* Hide overflowing content */
}

.sub-img img {
  width: 100%; /* Ensure the image takes up 100% of its container */
  height: auto; /* Maintain the aspect ratio of the image */
}

.sub-section {
  margin: 15px;
  margin-left: 60px;
}

.sub-img {
  height: 200px;
  width: 500px;
  border: 5px solid var(--main-color);
  margin-left: 10px;
}

.contact-section {
  display: flex;
  margin: 50px 30px 50px 20px;
}

.line-break3 {
  width: 4px;
  height: 150px;
  background-color: var(--main-color);
  margin-left: 27px;
}

.contact-links ul {
  display: flex;
  align-items: center;
  margin-left: 100px;
  text-align: center;
}

.contact-links ul li {
  display: inline-block;
  margin-left: 50px;
}

.contact-links a {
  font-size: 1.2em;
  text-decoration: none;
  color: var(--main-color);
  padding: 5px 20px;
  transition: 0.5s;
  text-transform: uppercase;
}

/* Tablets - main header aligns in center */
@media screen and (max-width: 992px) {
  .header-main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .about-me-sidebar,
  .content {
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    text-align: left;
  }
}

/* Large smartphones - */
@media screen and (max-width: 768px) {
}

/* Small smartphones - */
@media screen and (max-width: 480px) {
  .quote {
    margin-top: 40px;
    font-size: 90%;
  }

  .hero {
    height: 100px;
  }

  .header-main {
    text-align: center;
    padding: 10px 30px;
  }

  .header-main h1 {
    text-align: center;
  }

  .header-main nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 15px;
  }

  .header-main nav ul li {
    margin: 20px 0;
    display: block;
  }
  .about-me-sidebar,
  .content {
    padding: 10px;
  }
}
