@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

:root {
    --main-color: #114769;
    --background: #e7e7e7;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: var(--background);
}

.header-main {
    background-color: var(--main-color);
    padding: 30px;
    font-family: 'Montserrat', sans-serif;
}

.header-main h1 {
    color: white;
    display: inline-block;
    font-size: 300%;
    font-weight: bold;
    text-transform: uppercase;
}

.header-main nav {
    padding-top: 15px;
    float: right;
    margin-right: 10px;
    margin-left: 20px;
    font-size: 18px;
}

.header-main nav ul li {
    margin-left: 15px;
    display: inline-block;
}

.header-main nav ul {
    list-style-type: none;
}

a {
    color: white;
    text-decoration: none;
}

#header-line {
    position: absolute;
    border:none;
    border-top: 3px solid white;/* or bottom */
    width: 30em;
    margin: 10 0;
}

.hero {
    height: 200px;
    width: 100%;
    background-image: url("https://images4.alphacoders.com/130/1301526.png");
    background-size: cover;
    background-position: center;
}

.hero img {
    max-width: 100%; /* Ensures the image doesn't exceed the container width */
    max-height: 100%; /* Ensures the image doesn't exceed the container height */
}
